body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #2a2d38;
    margin: 50px;
    overflow: hidden;
    user-select: none;
    justify-content: center;
}

h1 {
    color: #fff;
}

p {
    color: #ddd;
}

input[type="text"] {
    padding: 8px;
    font-size: 25px;
    border: none;
    text-align: center;
    margin-bottom: 35px;
    cursor: default;
}

input:disabled{
    background-color: white;
    color: black;
}

input:hover {
    outline: none;
    border: none;
}

input:focus {
    outline: none;
    border: none;
}

button {
    padding: 8px 16px;
    font-size: 25px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    width: 200px;
}

button:hover {
    background-color: #45a049;
}

#feedback {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}

#feedback span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    margin: 2px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #505054;
    transition: 0.5s;
}

#feedback .correct {
    background-color: #4caf50 !important;
}

#feedback .incorrect {
    background-color: #ffeb3b !important;
    color: #333;
}

.game-end{
 color: white;
 background-color: black;
 padding: 20px;
 border-radius: 5px;
 opacity: 0;
 visibility: hidden;
 transition: 0.5s;
 position: relative;
 z-index: 20;
 top: -620px;
 height: 500px;
 width: 100%;
}

.bold{
 font-weight: bold;
}

.furtherInfo{
    font-size: 25pt;
}

.continue{
    font-size: 25pt;
}

.remaining-letters span{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 25pt;
    width: 40px;
    cursor: pointer;
}

.remaining-letters .notIncluded{
    background-color: grey;
}

.remaining-letters .letterIncluded{
    background-color: yellow;
}

.remaining-letters .correctPlace{
    background-color: #00ff55;
}

.notIncluded{
    color: grey;
}

.letterIncluded{
    color: yellow;
}

.correctPlace{
    color: #00ff55;
}
